{% extends "base.html" %}
{% block title %}PaloscoWeb 2.0{% endblock %}
{% block content %}
<div class="container">
    <form class="row g-3" action="/crea_bolla" method="POST" onsubmit="return valthisform()">
        <h5>Tagli da Bollare</h5>
        <div class="col-auto d-print-none">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup">Bolla n.</span>
                <input type="text" id="input_bolla" name="numero" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup">
            </div>
        </div>
        <div class="col-auto d-print-none">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup">Data:</span>
                <input type="text" id="input_data" name="data" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup" value="{{data}}">
            </div>
        </div>
        <div class="col-auto d-print-none">
            <button type="submit" class="btn btn-success" id="btn_submit">Crea Bolla</button>
        </div>
        <table class="table table-sm table-hover text-center table-responsive" style="font-size: 14px">
            <colgroup>
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-2">
         </colgroup>
            <thead class="table-light">
                <tr>
                    <th data-toggle="collapse" data-target=".multi-collapse" role="button" class="clickable collapsed d-print-none">
                        <span class="if-collapsed">+</span>
                        <span class="if-not-collapsed">-</span>
                    </th>
                    <th class="d-print-none">
                        <input type="checkbox" onClick="toggle(this);formValidation()">
                    </th>{% for field in fields %}
                    <th>{{field}}</th>{% endfor %}
                    <th></th>
                </tr>
            </thead>
            <tbody>{% for index,row in enum_rows %}
                <tr>
                    <td data-toggle="collapse" data-target="#accordion{{index}}" role="button" class="clickable collapsed d-print-none">
                        <span class="if-collapsed">+</span>
                        <span class="if-not-collapsed">-</span>
                    </td>
                    <td class="d-print-none">
                        <input type="checkbox" id="checkbox{{index}}" name="mycheck" value="{{row[1]}}">
                    </td>
                    {% for element in row %}
                    <td>
                        {{element}}
                    </td>{% endfor %}
                    <td></td>
                </tr>
                <tr id="accordion{{index}}" class="collapse multi-collapse">
                    <td colspan="12">
                        <table class="table table-sm text-center table-responsive" style="font-size: 12px">
                            <colgroup>
                             <col class="col-md-1">
                             <col class="col-md-1">
                             <col class="col-md-1">
                             <col class="col-md-1">
                             <col class="col-md-1">
                             <col class="col-md-1">
                             <col class="col-md-6">
                         </colgroup>
                            <thead class="table-light">
                                <tr>
                                    <th class="d-print-none"></th>
                                    <th class="d-print-none"></th>
                                    {% for sub_field in sub_fields %}
                                    <th>{{sub_field}}</th>
                                    {% endfor %}
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sub_row in sub_tabs[index] %}
                                <tr>
                                    <td class="d-print-none"></td>
                                    <td class="d-print-none"></td>
                                    {% for sub_element in sub_row %}
                                    <td>{{sub_element}}</td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}
