{% extends "base.html" %}
{% block title %}PaloscoWeb 2.0{% endblock %}
{% block content %}
<div class="container">
    <form method=" post" action="form-submit.php">
<table class='table table-striped my_table' >
<tr> <td>First Name</td> <td><input type="text" id="t1" name="FirstName"></td> </tr>
<tr><td>Gender</td><td><input type="radio" id="r1" name="gender" value=Male>Male <input type="radio" id="r2" name="gender" value=Female>Female</td></tr>
<tr><td>Games Played</td><td>
<select name="games" id="s1" ><option value=''>Select One</option>
<option value=Football>FootBall</option>
<option value=Tenis>Tenis</option>
<option value=cricket>Cricket</option>
</select>
</td></tr>
<tr><td>Terms & Condition</td><td><input type=checkbox name=agree value=yes id=c1></td></tr>
</table>

<input type="submit" id="btnSignUp" value="Sign Up!!" /> <input type=reset id=btnReset value=Reset>
</form>

</div><div class='col-md-6'>   <div id=my_msg>Button is disabled</div>
    <form class="row g-3 justify-content-between" action="/crea_bolla" method="GET" onsubmit="return valthisform()">
        <h5>Tagli da Bollare</h5>
        <div class="col-auto">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup">Bolla n.</span>
                <input type="text" id="input_bolla" name="numero" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup">
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success" id="btn_submit">Crea Bolla</button>
        </div>
        <table class="table table-sm table-hover text-center table-responsive" style="font-size: 14px">
            <colgroup>
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-1">
             <col class="col-md-2">
         </colgroup>
            <thead class="table-light">
                <tr>
                    <th data-toggle="collapse" data-target=".multi-collapse" role="button" class="clickable collapsed d-print-none">
                        <span class="if-collapsed">+</span>
                        <span class="if-not-collapsed">-</span>
                    </th>
                    <th class="d-print-none">
                        <input type="checkbox" onClick="toggle(this);formValidation()">
                    </th>{% for field in fields %}
                    <th>{{field}}</th>{% endfor %}
                    <th></th>
                </tr>
            </thead>
            <tbody>{% for index,row in enum_rows %}
                <tr>
                    <td data-toggle="collapse" data-target="#accordion{{index}}" role="button" class="clickable collapsed d-print-none">
                        <span class="if-collapsed">+</span>
                        <span class="if-not-collapsed">-</span>
                    </td>
                    <td class="d-print-none">
                        <input type="checkbox" id="checkbox{{index}}" name="mycheck" value="{{row[1]}}">
                    </td>
                    {% for element in row %}
                    <td>
                        {{element}}
                    </td>{% endfor %}
                    <td></td>
                </tr>
                <tr id="accordion{{index}}" class="collapse multi-collapse">
                    <td colspan="12">
                        <table class="table table-sm text-center table-responsive" style="font-size: 12px">
                            <colgroup>
                             <col class="col-md-1">
                             <col class="col-md-1">
                             <col class="col-md-1">
                             <col class="col-md-1">
                             <col class="col-md-1">
                             <col class="col-md-1">
                             <col class="col-md-6">
                         </colgroup>
                            <thead class="table-light">
                                <tr>
                                    <th class="d-print-none"></th>
                                    <th class="d-print-none"></th>
                                    {% for sub_field in sub_fields %}
                                    <th>{{sub_field}}</th>
                                    {% endfor %}
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sub_row in sub_tabs[index] %}
                                <tr>
                                    <td class="d-print-none"></td>
                                    <td class="d-print-none"></td>
                                    {% for sub_element in sub_row %}
                                    <td>{{sub_element}}</td>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}
